.modal {
  display: none; /* inicialmente escondido */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6); /* fundo semi-transparente */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--bg-with);
  border-radius: 0;
  padding: 2rem;
  width: 100%;
  max-width: 40%;
  color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
  overflow: visible; 
}

.modal-content input {
  width:100%;
  padding:.6rem .8rem;
  border-radius:.6rem;
  border:2px solid var(--text-dark);
  background: transparent;

}
.modal-content input::placeholder{
  color: var(--black);
}

.modal-content button {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background: var(--bg-dark);
  color: var(--bg-with);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
.input-img {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input-img img {
  width: 50px;
  height: 50px;
  object-fit: cover; /* mantém proporção */
  border-radius: 0 0.8rem 0 0.8rem;
  border: 1px solid var(--text-with2);
}

#busca-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}

#busca-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

#busca-container input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid var(--text-dark);
  border-radius: 0.4rem;
}

#busca-container button {
  background: var(--bg-dark);
  border: none;
  border-radius: 0.4rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  transition: 0.2s;
}

#busca-container button:hover {
  background: var(--bg-light);
}

#resultadoBusca {
  padding: 0.4rem;
  border: 1px solid var(--text-dark);
  border-radius: 0.4rem;
  background: var(--bg-with2);
}

