.controle-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--bg-dark);
}

.controle-container h1 {
  margin-bottom: 1.5rem;
}

.controle-busca {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.controle-busca input {
  padding: 0.8rem;
  border-radius: 0 0.75rem 0 0.75rem;
  border: 1px solid #ccc;
  width: 300px;
}

.controle-busca button {
  background: var(--bg-dark);
  color: var(--text-with2);
  border:1px solid var(--text-with);
  border-radius: 0 0.75rem 0 0.75rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  transition: 0.3s;
  transition: all .5s;
}

.controle-busca button:hover {
    background: var(--text-with2);
    color: var(--bg-dark);
}

.resultado-usuario {
  background: var(--bg-with);
  padding: 1.5rem;
  border-radius: 0 0.75rem 0 0.75rem;
  width: 90%;
  max-width: 600px;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.resultado-usuario h3 {
  margin-bottom: 1rem;
}

.resultado-usuario button {
  background: var(--bg-dark);
  color: var(--text-with);
  border: 1px solid var(--bg-dark);
  padding: 0.6rem 1rem;
  border-radius: 0 0.75rem 0 0.75rem;
  cursor: pointer;
  transition: all .5s;
}

.resultado-usuario button:hover {
  background: var(--text-with);
  color: var(--bg-dark);
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: var(--bg-dark);
  border-radius: 0 0.75rem 0 0.75rem;
  padding: 2rem;
  width: 90%;
  max-width: 500px;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.permissao-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--text-with);
  padding: 0.5rem 0;
}

.switch {
  position: relative;
  width: 50px;
  height: 24px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: var(--bg-with);
  border-radius: 24px;
  
  transition: 0.3s;
}

.slider:before {
  content: "";
  position: absolute;
  width: 18px; height: 18px;
  left: 3px; bottom: 3px;
  background: var(--text-with);
  border: .5px solid var(--black);
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: var(--text-with2);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.modal-actions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.btn-salvar {
  font-size: 1rem;
  width: 8rem;
  height: 2rem;
  border: 2px solid var(--bg-with);
  border-radius: 0 0.75rem 0 0.75rem;
  background: none;
  color: var(--bg-with);
  cursor: pointer;
  transition: all .5s;
}

.btn-salvar:hover {
  background: var(--bg-with);
  color: var(--text-dark);
}

.btn-cancelar {
  font-size: 1rem;
  width: 8rem;
  height: 2rem;
  border: 2px solid var(--bg-with);
  border-radius: 0 0.75rem 0 0.75rem;
  background: none;
  color: var(--bg-with);
  cursor: pointer;
  transition: all .5s;
}

.btn-cancelar:hover {
  background: #D00000;
  color: var(--text-dark);
}
.controle-busca select {
  padding: 0.8rem;
  border-radius: 0 0.75rem 0 0.75rem;
  border: 1px solid var(--text-with);
  background-color: var(--text-with);
}
