.titulo-home {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--bg-with);
}

.tarefa-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--bg-with);
  color: var(--bg-dark);
  border-radius: 2rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1rem 1.5rem;
}

/* ======== SWITCH (chave estilizada) ======== */
.switch-container {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-top: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: var(--bg-dark);
}

input:checked + .slider::before {
  transform: translateX(20px);
}

.switch-label {
  font-weight: 600;
  color: var(--bg-dark);
}


.dashboard-tarefas {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem auto 2rem;
  width: 95%;
}

.dash-card {
  background: var(--bg-with);
  color: var(--bg-dark);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  min-width: 100px;
  text-align: center;
}

.dash-card h3 {
  font-size: 1rem;
  margin: 0;
}

.dash-card p {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: .5rem;
}
