body {
  background: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: var(--bg-with);
  padding: 2rem;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  width: 32rem;
  height: 32rem;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.login-header .logo {
  width: 5rem;
  background-color: var(--bg-dark);
  padding: .5rem;
  border-radius: 5rem;
}

.login-header .sprite {
  width: 4rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form label {
  font-weight: bold;
  text-align: left;
  color: var(--text-dark);
}

.login-form input {
  padding: 0.6rem 1rem;
  border-radius: 0 0.75rem 0 0.75rem;
  border: 2px solid var(--text-dark);
  background: transparent;
  color: var(--text-dark);
  font-size: 1rem;
}

.btn-login {
  margin-top: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 0 0.75rem 0 0.75rem;
  background: var(--bg-dark);
  color: var(--text-with);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  color: var(--text-with2);
}

.btn-login:hover {
  background: var(--text-dark);
}

.forgot-password {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: var(--text-dark);
  text-decoration: none;
}

.register-text {
  margin-top: 1rem;
  font-size: 0.9rem;
}
.register-text a{
    color: var(--bg-dark);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: var(--bg-dark);
  padding: 2rem;
  width: 350px;
  border-radius: 0 0.75rem 0 0.75rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  text-align: center;
  animation: fadeIn 0.3s ease;
}

.modal-content h2 {
  margin-bottom: 0.3rem;
  color: var(--bg-with);
  font-size: 1.5rem;
}

.modal-content p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: var(--text-with2);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form input {
  margin-bottom: 1rem;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 0 0.75rem 0 0.75rem;
}
.botoes{
  display: flex;
  justify-content: space-between;
}

.btn-fechar, .btn-salvar {
  font-size: 1rem;
  width: 8rem;
  height: 2rem;
  border: 2px solid var(--bg-with);
  border-radius: 0 0.75rem 0 0.75rem;
  background: none;
  color: var(--bg-with);
  cursor: pointer;
  transition: all .5s;
}

.btn-fechar:hover {
  background: #D00000;
}
.btn-salvar:hover{

  background: var(--bg-with);
  color: var(--text-dark);
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
