
body {
  background: #0b2a19;
  color: #fff;
}

.app-container {
  width: 100%;
  max-width: 65%;
  margin: 1rem auto;
  padding: 2rem;
}

/* Container geral do header (menu principal) */
.header {
  display: flex;
  flex-direction: column;
  background: var(--bg-with);
  border-radius: 3rem;
  padding: 1.8rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  gap: 0.5rem;
  overflow: hidden;
  max-height: 5rem; /* fechado por padrão */
  transition: max-height 0.5s ease-in-out;
}

/* Quando o menu estiver aberto */
.header.aberto {
  max-height: 500px; /* altura suficiente para exibir os itens */
}

/* Itens individuais */
.header .menu-item {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-left: 1rem;
  background: var(--bg-with);
  gap: 2rem;
  padding: .5rem;
  color: var(--bg-dark);
  border-radius: 0 .8rem 0 .8rem;
  transition: all 0.5s ease;
}

.header .menu-item a {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--text-color);
  text-decoration: none;
}

.header .menu-item a h1 {
  font-size: 1.1rem;
  margin: 0;
  font-weight: 600;
}

.header .menu-item:hover h1 {
  transition: all .5s ease;
  color: var(--text-dark);
  transform: translateX(15px); 
}

/* Botão do menu */
.menu-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu-btn img {
  width: 28px;
  height: 28px;
}


.actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
}

.action-btn {
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--bg-with);
  border-radius: 2rem;
  background: none;
  font-size: 2rem;
  color: var(--bg-with);
  cursor: pointer;
}
.btn-editar{
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--bg-with);
  border-radius: 2rem;
  background: none;
  font-size: 2rem;
  color: var(--bg-with);
  cursor: pointer;
}
.alter-psw{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.psw-btn{
  width: 3rem;
  height: 3rem;
  border: none;
  background: none;
  font-size: 1.25rem;
  color: var(--bg-with);
  cursor: pointer;
  width: 10rem;
}

.main-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-card {
  display: flex;
  justify-content: space-between;
  background: var(--bg-with);
  border-radius: 3rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1rem;
  color: var(--bg-dark);
}
.dados-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.main-card h2 {
  font-size: 1rem;
  font-family: 'Cossette Titre', sans-serif;
}

.main-card p {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 5px 0;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.card-actions button {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}
.icon-btn {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
}
.foto-main{
  border-radius: 0 0.8rem 0 0.8rem ;
  width: 6rem;
  height: 6rem;
  display: block;
}


.search-area {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  background: var(--bg-with);
  padding: 1rem;
  border-radius: 2rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  align-items: center;
  flex-wrap: wrap;
}

.search-area select,
.search-area input {
  padding: 0.6rem 0.8rem;
  border-radius: 0.6rem;
  border: 2px solid var(--text-dark);
  background: transparent;
  color: var(--bg-dark);
  font-family: 'Epunda Sans', sans-serif;
  font-size: 1rem;
  flex: 1;
}

.search-area select {
  max-width: 200px;
}

.search-area input::placeholder {
  color: var(--black);
}

#btn-do-search {
  padding: 0.6rem 1rem;
  background: var(--bg-dark);
  color: var(--bg-with);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

#btn-do-search:hover {
  background: var(--text-dark);
  color: var(--bg-with2);
}
#search-method option {
  background: var(--bg-with); 
  color: var(--bg-dark);      
  font-family: 'Epunda Sans', sans-serif;
  padding: 0.5rem 1rem;       
  border: none;
}

