
body {
  background: #0b2a19;
  color: #fff;
}

.app-container {
  width: 100%;
  max-width: 65%;
  margin: 1rem auto;
  padding: 2rem;
}

.header {
  display: flex;
  align-items: center;
  background: var(--bg-with);
  border-radius: 3rem;
  padding: 1.8rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-btn {
  background: transparent;
  border: none;
  font-size: 0;
  margin-right: 0;
  cursor: pointer;
}

.header h1 {
  color: var(--bg-dark);
  font-size: 1.5rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
}

.action-btn {
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--bg-with);
  border-radius: 2rem;
  background: none;
  font-size: 2rem;
  color: var(--bg-with);
  cursor: pointer;
}

.plantas-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.planta-card {
  display: flex;
  justify-content: space-between;
  background: var(--bg-with);
  border-radius: 3rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1rem;
  color: var(--bg-dark);
}
.dados-plant{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}

.planta-card h2 {
  font-size: 1rem;
  font-family: 'Cossette Titre', sans-serif;
}

.planta-card p {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 5px 0;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.card-actions button {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}
.icon-btn {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
}
.foto-planta{
  border-radius: 10rem;
  width: 6rem;
  height: 6rem;
  display: block;
}


.search-area {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  background: var(--bg-with);
  padding: 1rem;
  border-radius: 2rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  align-items: center;
  flex-wrap: wrap;
}

.search-area select,
.search-area input {
  padding: 0.6rem 0.8rem;
  border-radius: 0.6rem;
  border: 2px solid var(--text-dark);
  background: transparent;
  color: var(--bg-dark);
  font-family: 'Epunda Sans', sans-serif;
  font-size: 1rem;
  flex: 1;
}

.search-area select {
  max-width: 200px;
}

.search-area input::placeholder {
  color: var(--black);
}

#btn-do-search {
  padding: 0.6rem 1rem;
  background: var(--bg-dark);
  color: var(--bg-with);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

#btn-do-search:hover {
  background: var(--text-dark);
  color: var(--bg-with2);
}
#search-method option {
  background: var(--bg-with); 
  color: var(--bg-dark);      
  font-family: 'Epunda Sans', sans-serif;
  padding: 0.5rem 1rem;       
  border: none;
}
