/* ===== POPUP DE SUCESSO ===== */
.popup-sucesso {
  position: fixed;
  bottom: 45%;
  right: 45%;
  background-color: var(--text-dark); /* Verde sucesso */
  color: var(--text-with);
  padding: 1rem 1.5rem;
  border-radius: 0 0.75rem 0 0.75rem ;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  opacity: 0;
  transform: translateY(3rem);
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: 9999;
  pointer-events: none;
  font-weight: 500;
}

/* Classe que exibe o popup */
.popup-sucesso.mostrar {
  opacity: 1;
  transform: translateY(0);
}

.popup-erro {
  position: fixed;
  top: 1.2rem;
  right: 1.2rem;
  background: #c0392b;
  color: #fff;
  padding: 1rem 1.6rem;
  border-radius: 0.6rem;
  font-weight: bold;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  animation: fadeInOut 2.5s ease-in-out;
  z-index: 10000;
}
